@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
  background-color: #FFC95C;
}
.jeu-pendu__title {
  text-align: center;
  font-family: 'Abril Fatface', serif;
  color:#7f652e;
      margin-top: 0;
   font-weight: bold;
  font-size:  102px;
}

.jeu-pendu__score {
display: flex;
justify-content: center;

}
.jeu-pendu__Won {
  text-align: center;
  color: #7f652e;
  font-size: 32px;
}
.score {
display: flex;
align-items: center;
justify-content: center;
font-family: 'Abril Fatface', serif;
font-size: 33px;
background-color: #7f652e;
color: #eee;
border-radius: 15px 50px 10px;
 width: 90px;
    height: 100px; 
}

.memory {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  max-width: 700px;
  user-select: none;
  padding-bottom: 23px;
}
.memory > .block {
    
    font-size: 2em;
  flex: 1   calc(100% / 13 - 0.4em);
  outline: 0.08em solid silver;
  margin: 0.2em;
  display: flex;
  cursor: default;
     

}
.button {
    background-color: #7F7154;
    color: white;
    border:none;
       width: 50px;
    margin: 1px;
     font-size: 32px;
}
.keyboard{
  width:800px; height: 320px;
  background-color: #111;
  margin: 0px auto;
  border-radius: 9px;
  padding: 30px;
  color: #eee;
  
}

.phrasedevine{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: center;
margin: 12px;
    padding-bottom: 34px;
}
.phrase {
  color: rgb(255, 255, 255);
  font-family: 'Abril Fatface', serif;
  width: 42px;
  background-color: brown;
  border: #111;
  font-size: 32px;
}
.justMatched{
 background-color: #FFB210;
 color: #111;
}

.newGame-button {
   background-color:#7f652e;
    color: #fff;
    border: 2px solid #555555;
    border: none;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}